.textInput {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  outline: none;
  resize: none;
  opacity: 0;
}

.textDisplay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #888;
  max-width: 60rem;
  padding: 2rem;
  pointer-events: none;
  white-space: pre-wrap;
  font-family: menlo, monospace;
  margin: 0 auto;
}

.char {
  display: inline-block;
}

.charSuccess {
  color: #000;
}

.charError {
  color: #fff;
  background: #ff0000;
}

.charSuccess, .charError {
  animation: 0.2s bounce;
  transform-origin: center;
}

@keyframes bounce {
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
